/* ==========================================================================
   TIMELINE
   ========================================================================== */

.timeline-section {
  position: relative;
  padding-left: 3em;
  margin: 2em 0;

  &::before {
    content: "";
    position: absolute;
    left: 0.75em;
    top: 0;
    bottom: 0;
    width: 3px;
    background: var(--global-border-color);
    z-index: 0;
  }
}

.timeline-item {
  position: relative;
  margin-bottom: 2.5em;
  padding-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: -2.625em;
    top: 0.5em;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background: var(--global-base-color);
    border: 4px solid var(--global-bg-color);
    z-index: 1;
    box-shadow: 0 0 0 2px var(--global-border-color);
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    position: relative;
  }

  p {
    margin-bottom: 0.5em;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
